<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group List</title>
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="/static/style/style.css">
</head>

<style>

</style>
<body>
    <div class="containe bg">
        <div class="headandtall">
            <main class="taller">
                <nav class="bg">
                    <a href="/" class="logo whitel">
                        <img src="/static/images/disc.png" alt="Logo">
                    </a>
                    <div class="menu">
                        <ul>
                            <li><a class="link white" href="http://127.0.0.1:4000">HOME</a></li>
                            <li><a class="link white" href="http://127.0.0.1:4000/groups/">GROUPS</a></li>
                            <li><a class="link white" href="https://01.alem.school/git/ssengerb/groupie-tracker-visualizations/src/branch/master/README.md">ABOUT</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="ulbams_contain-bg">
                    <section class="ulbams_contain">
                        <div class="search__container pt">
                            <form class="search" action="/search/" method="get" enctype="multipart/form-data">
                                <div class="form__search">
                                    <input type="search"  autocomplete="off" list="bands" name="query" id="query" placeholder="Search..." list="Bands list">
                                    <datalist id="bands">
                                        {{range $j, $k := .}}
                                            {{if eq (len $k.Members) 1}}
                                            <option value="{{$k.Name}}">Artist</option>
                                            {{else}}
                                            <option value="{{$k.Name}}">Band</option>
                                            {{end}}
                                        {{end}}
            
                                        {{range $j, $k := .}}
                                            {{if eq (len $k.Members) 1}}
                                            {{else}}
                                                {{range $q, $m := $k.Members}}
                                                <option value="{{$m}}">Member of {{$k.Name}}</option>
                                                {{end}}
                                            {{end}}
                                        {{end}}
            
                                        {{range $j, $k := .}}
                                            <option value="{{$k.CreationDate}}">Creation Date of {{$k.Name}}</option>
                                        {{end}}
            
                                        {{range $j, $k := .}}
                                            <option value="{{$k.FirstAlbum}}">First Album of {{$k.Name}}</option>
                                        {{end}}
            
                                        {{range $j, $k := .}}
                                            {{range $t, $y := $k.Relation.DatesLocations}}
                                            <option value="{{$t}}">Location of {{$k.Name}}'s concert</option>
                                            {{end}}
                                        {{end}}
            
                                        {{range $j, $k := .}}
                                            {{range $t, $y := $k.Relation.DatesLocations}}
                                                {{range $l, $n := $y}}
                                                <option value="{{$n}}">Date of {{$k.Name}}'s concert</option>
                                                {{end}}
                                            {{end}}
                                        {{end}}
                                    </datalist>
                                    <button type="submit">
                                        <svg width="30px" height="30px" viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 10.7655C5.50003 8.01511 7.44296 5.64777 10.1405 5.1113C12.8381 4.57483 15.539 6.01866 16.5913 8.55977C17.6437 11.1009 16.7544 14.0315 14.4674 15.5593C12.1804 17.0871 9.13257 16.7866 7.188 14.8415C6.10716 13.7604 5.49998 12.2942 5.5 10.7655Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M17.029 16.5295L19.5 19.0005" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="ulbams">
                            {{range $i, $v := .}}
                            <a href="http://127.0.0.1:4000/group/?id={{.ID}}" class="ulbam_plus">
                                <div class="ulbam_image_block">
                                    <div class="ulbam_image"><img src="{{.Image}}"></div>
                                </div>
                                <div class="ulbam_name_block">
                                    <div class="ulbam_name">
                                        <div class="umbam_name_link">
                                            <h2> {{$v.Name}} </h2>
                                        </div>
                                    </div>
                                    <div class=section>
                                        <span class="text-gray"> Creation Date: </span>
                                        <span class="create_date"> {{$v.CreationDate}} </span>
                                    </div>
                                    <div class=section>
                                        <span class="text-gray"> First Album: </span>
                                        <span class="create_date"> {{$v.FirstAlbum}} </span>
                                    </div>
                                </div>
                            </a>
                            {{end}}
                        </div>
                        <div class="pt">
                            <div class="filter__container">
                                <form action="/filters/" method="get">
                                    <div class="wrapper">
                                        <h2>Creation Date</h2>
        
                                        <div class="price-input">
                                            <div class="field">
                                              <span>From:</span>
                                              <span class="f" id="range1">1958</span>
                                            </div>
                                            <div class="field">
                                              <span>To:</span>
                                              <span class="f" id="range2">2015</span>
                                            </div>
                                        </div>
        
                                        <div class="container-range">
                                            <div class="slider-track create_date-track"></div>
                                            <input type="range" name="MinCreationDate" min="1958" max="2015" value="1958" id="slider-1" oninput="slideOne()">
                                            <input type="range" name="MaxCreationDate" min="1958" max="2015" value="2015" id="slider-2" oninput="slideTwo()">
                                        </div>
                                    </div>
                                    <div class="wrapper">
                                        <h2>First Album Date</h2>
        
                                        <div class="price-input">
                                            <div class="field">
                                              <span>From:</span>
                                              <span class="f" id="range3">1963</span>
                                            </div>
                                            <div class="field">
                                              <span>To:</span>
                                              <span class="f" id="range4">2018</span>
                                            </div>
                                          </div>
        
                                        <div class="container-range">
                                            <div class="slider-track first_album-track"></div>
                                            <input type="range" name="MinFirstAlbumDate" min="1963" max="2018" value="1963" id="slider-3" oninput="slideThree()">
                                            <input type="range" name="MaxFirstAlbumDate" min="1963" max="2018" value="2018" id="slider-4" oninput="slideFour()">
                                        </div>
                                    </div>
        
                                    <div class="members wrapper">
                                        <h2>Members</h2>
                                        <div class="members__items">
                                            <input type="checkbox" id="1" name="Member1">
                                            <label for="1">
                                              <span>1</span>
                                            </label>
                                            <input type="checkbox" id="2" name="Member2">
                                            <label for="2"> 
                                              <span>2</span>
                                            </label>
                                            <input type="checkbox" id="3" name="Member3">
                                            <label for="3"> 
                                              <span>3</span>
                                            </label>
                                            <input type="checkbox" id="4" name="Member4">
                                            <label for="4"> 
                                              <span>4</span>
                                            </label>
                                            <input type="checkbox" id="5" name="Member5">
                                            <label for="5"> 
                                              <span>5</span>
                                            </label>
                                            <input type="checkbox" id="6" name="Member6">
                                            <label for="6"> 
                                              <span>6</span>
                                            </label>
                                            <input type="checkbox" id="7" name="Member7">
                                            <label for="7"> 
                                              <span>7</span>
                                            </label>
                                            <input type="checkbox" id="8" name="Member8">
                                            <label for="8"> 
                                              <span>8</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="wrapper location">
                                        <h2>Location</h2>
                                        <div class="search dark">
                                            <div class="form__search">
                                                <input class="tags" type="search" autocomplete="off" name="loc" placeholder="Add...">
                                                <button onclick="addTagByButton()" type="button">
                                                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z" fill="#000000"/>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="content">
                                                <ul class="ul"></ul>
                                            </div>
                                            <div class="details">
                                                <p><span>10</span> tags are remaining</p>
                                                <button>Remove All</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="submit" type="submit"><b>APPLY</b></button>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
            <footer class="footer">
                <p>Copyright © 2023, <a class="custom-link" href="https://01.alem.school/git/ssengerb" target="_blank">@ssengerb</a> and
                    <a class="custom-link" href="https://01.alem.school/git/aarmanul" target="_blank">@aarmanul</a></p>
            </footer>
        </div>
    </div>
    

    <div class="preloader">
        <div class="preloader__row">
          <div class="preloader__item"></div>
          <div class="preloader__item"></div>
          <div class="preloader__item"></div>
        </div>
    </div>

    <script>
        window.onload = function(){
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
            document.body.classList.add('loaded');
            document.body.classList.remove('loaded_hiding');
            }, 500);
            
            slideOne();
            slideTwo();
            slideThree();
            slideFour();
        }

        let sliderOne = document.getElementById("slider-1");
        let sliderTwo = document.getElementById("slider-2");
        let displayValOne = document.getElementById("range1");
        let displayValTwo = document.getElementById("range2");
        let minGap = 0;
        let sliderTrack = document.querySelector(".create_date-track");
        let sliderMaxValue = parseInt(sliderOne.max);

        function slideOne(){
            if(parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap){
                sliderOne.value = parseInt(sliderTwo.value) - minGap;
            }
            displayValOne.textContent = sliderOne.value;
            fillColor();
        }
        function slideTwo(){
            if(parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap){
                sliderTwo.value = parseInt(sliderOne.value) + minGap;
            }
            displayValTwo.textContent = sliderTwo.value;
            fillColor();
        }
        function fillColor() {
        const range = sliderMaxValue - parseInt(sliderOne.min);
        const percent1 = ((sliderOne.value - parseInt(sliderOne.min)) / range) * 100;
        const percent2 = ((sliderTwo.value - parseInt(sliderOne.min)) / range) * 100;
        sliderTrack.style.background = `linear-gradient(to right, #dadae5 ${percent1}%, #272b33 ${percent1}%, #272b33 ${percent2}%, #dadae5 ${percent2}%)`;
        }


        // ------------------------------------------------------------------------------------

        let sliderThree = document.getElementById("slider-3");
        let sliderFour = document.getElementById("slider-4");
        let displayValThree = document.getElementById("range3");
        let displayValFour = document.getElementById("range4");
        let minGapAlbum = 0;
        let sliderTrackAlbum = document.querySelector(".first_album-track");
        let sliderMaxValueAlbum = document.getElementById("slider-3").max;

        function slideThree(){
            if(parseInt(sliderFour.value) - parseInt(sliderThree.value) <= minGapAlbum){
                sliderThree.value = parseInt(sliderFour.value) - minGapAlbum;
            }
            displayValThree.textContent = sliderThree.value;
            fillColorAlbum();
        }
        function slideFour(){
            if(parseInt(sliderFour.value) - parseInt(sliderThree.value) <= minGapAlbum){
                sliderFour.value = parseInt(sliderThree.value) + minGapAlbum;
            }
            displayValFour.textContent = sliderFour.value;
            fillColorAlbum();
        }
        function fillColorAlbum(){
        const range = sliderMaxValueAlbum - parseInt(sliderThree.min);
        const percent1 = ((sliderThree.value - parseInt(sliderThree.min)) / range) * 100;
        const percent2 = ((sliderFour.value - parseInt(sliderThree.min)) / range) * 100;
        sliderTrackAlbum.style.background = `linear-gradient(to right, #dadae5 ${percent1}%, #272b33 ${percent1}%, #272b33 ${percent2}%, #dadae5 ${percent2}%)`;
        }
        // ------------------------------------------------------------------------------------
        const ul = document.querySelector(".ul");
        const input = document.querySelector(".tags");
        const tagNumb = document.querySelector(".details span");

        // let maxTags = 10;
        let tags = [];

        countTags();
        createTag();

        function countTags() {
        input.focus();
        tagNumb.innerText =   tags.length;
        }

        function createTag() {
            ul.querySelectorAll("li").forEach((li) => li.remove());
            tags.slice().reverse().forEach((tag) => {
                let liTag = `<li>${tag} <input type="checkbox" checked value="${tag}" name="locations" readonly> <i class="uit uit-multiply" onclick="remove(this, '${tag}')"><svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.99997 8H6.5M6.5 8V18C6.5 19.1046 7.39543 20 8.5 20H15.5C16.6046 20 17.5 19.1046 17.5 18V8M6.5 8H17.5M17.5 8H19M9 5H15M9.99997 11.5V16.5M14 11.5V16.5" stroke="#464455" stroke-linecap="round" stroke-linejoin="round"/></svg></i></li>`;
                ul.insertAdjacentHTML("afterbegin", liTag);
            });
            countTags();
        }

        function remove(element, tag) {
        let index = tags.indexOf(tag);
        tags = [...tags.slice(0, index), ...tags.slice(index + 1)];
        element.parentElement.remove();
        countTags();
        }

        function addTagByButton() {
        let tag = input.value.replace(/\s+/g, " ");
        if (tag.length > 1 && !tags.includes(tag)) {
            if (tags.length < 10) {
            //   tag.split(",").forEach((tag) => {
                tags.push(tag);
                createTag();
            //   });
            }
        }
        input.value = "";
        }

        const removeBtn = document.querySelector(".details button");
        removeBtn.addEventListener("click", () => {
        tags.length = 0;
        ul.querySelectorAll("li").forEach((li) => li.remove());
        countTags();
        });

        const addButton = document.querySelector(".form__search button");
        addButton.addEventListener("click", addTagByButton);
    </script>
</body>
</html>